*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
    padding: 0 60px;
    background: #fff;
    z-index: 1;
}
header .logo{
    max-height: 200px;
    width: auto;
}
main{
    padding: 0 66px;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
header a{
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
}

header nav li {
    padding: 3px 0;
}
header nav li:hover{
    border-bottom: 3px dotted;
}
header nav li[activo] {
    border-bottom: 3px solid;
}